body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(213, 213, 248);
    color: rebeccapurple;
}



h1 {
    text-decoration: underline;
}

p {
    color: #333399;
    font-size: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 70vw;
    background-color: rgb(205, 205, 248);
    line-height: 4rem;
    font-size: 2rem;
    padding: 3% 0;
}

aside {
    width: 30vw;
    height: 100vh;
    line-height: 4rem;
    font-size: 2rem;
    padding: 3%;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    justify-content: space-evenly;
}

button {
    font-family: inherit;
    padding: 1% 4%;
    font-size: 3rem;
    background-color: rebeccapurple;
    color: white;
    border: none;
    box-shadow: 0px 5px rgb(72, 30, 114);
    outline: none;
    margin: 1%;
}

button:active {
    background-color: #333399;
    transform: translateY(2px);
    box-shadow: 0px 3px rgb(55, 21, 88);
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: left;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 1% 0;
}

.playerScore {
    padding: 3%;
}

input {
    border: none;
    border-bottom: 1px Solid;
    height: 2rem;
    width: 67%;
    font-size: inherit;
    text-align: center;
    border-bottom: 1px Solid rebeccapurple;
    color: #333399;
}

input:focus {
    outline: none;
    border-bottom: 3px Solid rebeccapurple;
}

input:after {
    outline: none;
    border-bottom: 3px Solid rebeccapurple;
}

#game {
    display: grid;
    grid-auto-flow: column;
    width: 70vw;
    height: 80vh;
    background-color: lavender;
    padding: 4% 0.5%;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    overflow: hidden;
    padding-top: 10px;
}

.slot {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(transparent 0%,
            transparent 65%,
            rebeccapurple 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.hole {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #fff;
    color: rebeccapurple;
    text-align: center;
}

.player1 {
    background-color: steelblue;
    transition: background-color 0.5s cubic-bezier(0.6, 0.7, 0.9, 1);
}

.player2 {
    background-color: navy;
    transition: background-color 0.5s cubic-bezier(0.6, 0.7, 0.9, 1);
}

.winner {
    border: 15px solid greenyellow;
    animation: winnerCircle 1s infinite;
}

.winnerText {
    color: rebeccapurple;
    animation: winnerText 1s infinite;
}

#favicon {
    position: fixed;
    bottom: 3px;
    left: 3px;
}

#winMessage {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #game {
        display: grid;
        justify-self: center;
        grid-auto-flow: column;
        width: 95vw;
        height: 50vh;
        background-color: lavender;
        padding: 4% 0.5%;
        overflow: hidden;
        padding-top: 10px;
    }

    aside {
        width: 95vw;
        height: 13vh;
        line-height: 2rem;
        font-size: 1rem;
        padding: 1%;
        background-color: lavender;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;
        justify-content: space-between;
        order: -1;
        align-items: baseline;
    }

    .container {
        flex-direction: column;
    }

    #inputs {
        width: 90vw;
        height: auto;
        background-color: rgb(213, 213, 248);
        margin-left: 5vw;
        margin-right: 5vw;
        align-items: flex-start;
        line-height: 2.8rem;
    }

    p {
        font-size: 3rem;
    }

    input {
        height: 2rem;
        width: 100%;
    }

    .winner {
        border: 4px solid greenyellow;
        animation: winnerCirclePhone 1s infinite;
    }

    .winnerText {
        color: rebeccapurple;
        animation: winnerTextPhone 1s infinite;
    }

    #winMessage {
        height: 6vh;
    }

    #buttons {
        flex-direction: row;
        height: 10vh;
        margin: 6% 0;
        order: 1;
    }

    .playerScore {
        padding: 0 3%;
        align-self: flex-start;
        align-items: baseline;
    }

    button {
        font-family: inherit;
        padding: 1% 4%;
        font-size: 2rem;
        background-color: rebeccapurple;
        color: white;
        border: none;
        box-shadow: 0px 5px rgb(72, 30, 114);
        outline: none;
        margin: 6% 1%;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: rebeccapurple;
        border-radius: 50px;
        opacity: 0.6;
        height: 1%;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 50px;
        height: 20px;
        width: 20px;
    }

    @keyframes winnerCirclePhone {
        0% {
            border: 6px solid gold;
        }

        49% {
            border: 6px solid greenyellow;
        }

        100% {
            border: 6px solid gold;
        }

        50% {
            border: 6px solid greenyellow;
        }

        0% {
            border: 6px solid rgb(50, 47, 255);
        }
    }

    @keyframes winnerTextPhone {
        0% {
            color: rgb(0, 119, 255);
        }

        49% {
            color: rgb(50, 47, 255);
        }

        100% {
            color: gold;
        }

        50% {
            color: rgb(50, 47, 255);
        }

        0% {
            color: gold;
        }
    }
}

@keyframes winnerCircle {
    0% {
        border: 15px solid gold;
    }

    49% {
        border: 15px solid greenyellow;
    }

    100% {
        border: 15px solid gold;
    }

    50% {
        border: 15px solid greenyellow;
    }

    0% {
        border: 15px solid rgb(50, 47, 255);
    }
}

@keyframes winnerText {
    0% {
        color: rgb(0, 119, 255);
    }

    49% {
        color: rgb(50, 47, 255);
    }

    100% {
        color: gold;
    }

    50% {
        color: rgb(50, 47, 255);
    }

    0% {
        color: gold;
    }
}
